.dots-loader {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dots-loader span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.dots-loader span:nth-child(1) {
  animation-delay: 0s;
}
.dots-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
